body{
	text-align: center;
	font-family: arial;
	margin: 0 auto; 
	background-color: #009999;
}

.container{
	width: 80%;
	margin 0 auto; 
}

h1{
	color: black;
}

img { 
width: 60%;
}

h2 { 
	color: #009999;
	border: 1px solid black;
	/*margin: 50px;
	padding: 30px; */
 }

h3 { 
	color: red;
	border: 1px solid black;
	font-family: Arial Black;
	margin: 50px;
	padding: 40px;
} 
